<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../favicon.ico">

  <title>Starter Template for Bootstrap</title>

  <!-- Bootstrap core CSS -->
  <link href="../static/css/bootstrap.min.css" rel="stylesheet">

</head>

<body>

<div class="container">
  <h2>HikeAdvisor</h2>
  <p> In order to give recommendations, we need some information about previous
  hikes that you've enjoyed.</p>
    <form id="hikelist" name="hikelist" method='POST' action='/output'>
    <input type="hidden" name="hikes" id="result" value=""> 
      <div class="form-group">
        <label for="sel", id="sel">Please select hike(s) that have sparked joy:</label>
        <select multiple class="form-control" id="selected-hikes">
        {% for hike in hike_names %}
          <option value={{ hike['name'] }}>{{ hike['name'] }}</option>
        {% endfor %}
        </select>
      </div>

      <div>
        <button type="submit" class="btn btn-default btn-lg" onclick="getValue()">Get my recommendations!</button>
      </div>
   </form>
</div>

</body>

<script>
function getValue()
{
  var hikes_selected = []
  var x=document.getElementById("selected-hikes");
  for (var i = 0; i < x.options.length; i++) {
  if(x.options[i].selected){
      hikes_selected.push(x.options[i].text);
    }
  }
  console.log(hikes_selected)
  document.hikelist.hikes.value = hikes_selected
  document.forms['hike_list'].submit();
}
</script>

</html>


  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="static/js/bootstrap.min.js"></script>
  </body>
</html>
